//imports
@import "./sidebar/sidebar";
@import "./topbar/topbar";

html,
body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.page_wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    &:after, &:before {
        content: " ";
        display: table;
    }
}


