.topbar {
    min-height: 55px;
    max-height: 55px;

    z-index: 1030;
    background: #009688;
    padding: 0 20px 0 0;
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__logo {
        -webkit-transition: width 0.3s ease-in-out;
        -o-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
        display: block;
        float: left;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        width: 230px;
        padding: 0 15px;
        font-weight: 300;
        overflow: hidden;
        color: #fff;

        &:hover {
            color: #fff;
            text-decoration: none;
            opacity: .7;
        }
    }

    .navarea {
        -webkit-transition: margin-left 0.3s ease-in-out;
        -o-transition: margin-left 0.3s ease-in-out;
        transition: margin-left 0.3s ease-in-out;
        margin-bottom: 0;
        margin-left: 230px;
        border: none;
        min-height: 50px;
        border-radius: 0;
        flex: 1;
        //width: calc(100% - 230px);

        display: flex;
        justify-content: space-between;
        align-items: center;

        &__actions {
            display: flex;
            align-items: center;
            padding-right: 30px;
            flex: 1;
            min-width: 25%;
            justify-content: flex-end;

            .nav_action {
                padding: 0 10px;
                color: #ffffff;

                i {
                    color: #ffffff;
                    font-size: 28px;
                    position: relative;


                    .notification_badge {
                        position: absolute;
                        //top:-10px;
                        //right: -8px;
                        left: 18px;
                        bottom: 14px;
                        padding: 2px 3.5px;
                        background-color: #fa3e3e;
                        border-radius: 2px;
                        color: #ffffff;
                        //box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 4px rgba(0,0,0,.4), 0 0 1px rgba(0,0,0,.7) inset, 0 10px 0px rgba(255,255,255,.11) inset;
                        -webkit-background-clip: padding-box;
                        font: 12px "monospace", sans-serif;
                        text-decoration: none;
                        //text-shadow: 0 -1px 0 rgba(0,0,0,.6);
                    }
                }

            }

            .nav_user {
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                position: relative;
                min-width: 45px;

                .user_avatar {
                    height: 40px;
                    width: 40px;
                    margin-right: 15px;

                    opacity: .7;
                    cursor: pointer;
                    border: .3px solid #979797;
                    border-radius: 50%;
                }

                .user_name {
                    color: rgba(255, 255, 255, 0.51);
                    font-size: 14px;
                    font-weight: 400;
                    cursor: pointer;
                }

                .user_content {
                    min-width: 300px;
                    position: absolute;
                    z-index: 650;
                    top: 40px;
                    right: -10px;
                    display: flex;
                    //flex-direction: column;
                    background: #fff;
                    min-height: 150px;
                    //box-shadow: 0 0 6px #B2B2B2;
                    border-radius: 3px;

                    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
                    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
                    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        //left: 85%;
                        right: 30px;
                        width: 0;
                        height: 0;
                        border: 12px solid transparent;
                        border-bottom-color: #fff;
                        filter: drop-shadow(0 -2px 0.02px rgba(0, 0, 0, 0.09));
                        border-top: 0;
                        margin-left: -10px;
                        margin-top: -10px;

                    }

                    &__avatar {
                        padding: 15px;
                        display: flex;
                        //flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: #1f4037;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


                        img {
                            width: 120px;
                            height: 120px;
                            border-radius: 50%;
                            border: 1px solid rgba(99, 99, 99, 0.4);
                            background: #fff;
                            opacity: 1;
                        }

                    }


                    &__links {
                        display: flex;
                        flex-direction: column;
                        margin-left: 15px;

                        .title {
                            padding: 10px 10px 10px 5px;
                            color: #056b5b;
                            font-weight: 700;
                            font-size: 18px;
                            width: 100%;
                            white-space: nowrap;
                        }

                        width: 100%;

                        .links-items {
                            display: flex;
                            flex-direction: column;
                            //align-items: center;
                            width: 100%;

                            a {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                padding: 15px 5px;
                                text-decoration: none;
                                color: rgba(99, 99, 99, 0.84);
                                border-bottom: 1px solid #eeeeee;

                                > span {
                                    margin-right: 10px;
                                }

                                &:last-child {
                                    border-bottom: none;
                                }

                                &:hover {
                                    //background-color: #a0c575;
                                    opacity: .4;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                &__backdrop {
                    position: absolute;
                    z-index: 19;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    height: 100vh;
                    width: 100vw;
                    background: rgba(0, 0, 0, 0.2);
                    cursor: pointer;

                }
            }

            .nav_notifications {
                display: flex;
                align-items: center;
                //flex: 1;
                width: 50px;
                position: relative;
                a {
                    position: relative;
                    i {
                        color: #fff;
                        font-size: 28px;
                        font-weight: 400;
                    }

                    .notify_bubble {
                        border-radius: 20px;
                        border: 1px solid #FFF;
                        width: 20px;
                        height: 20px;
                        background-color: #de0e0e;
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        font-size: 10px;
                        line-height: 18px;
                        font-family: 'Roboto', sans-serif;
                        color: #fff;
                        font-weight: 700;
                        text-align: center;

                    }
                }

                &__content {
                    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
                    background-color: #ffffff;
                    min-width: 300px;
                    position: absolute;
                    top: 40px;
                    right: -20px;
                    width: 420px;
                    border-radius: 4px;
                    color: rgba(27, 29, 48, 0.5);
                    font-size: 12px;
                    animation: fadeIn .4s forwards;
                    z-index: 250;

                    &:before {
                        content: "";
                        position: absolute;
                        top: -6px;
                        right: 40px;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid #FFF;
                    }

                    .notify_title {
                        border-bottom: 1px solid #EEEEEE;
                        height: 40px;
                        padding: 15px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        color: #4d4f5c;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 12px;
                    }

                    .notify_messages {
                        min-height: 240px;
                        max-height: 340px;
                        overflow: auto;
                        border-radius: 0 0 4px 4px;

                        ul {
                            margin: 0;

                            .notify_message {
                                list-style: none;
                                background-color: #fafafa;
                                padding: 15px 30px;
                                border-bottom: 1px solid #f1f1f3;
                                cursor: pointer;


                                &__title {
                                    &.unread {
                                        color: #4d4f5c;
                                        font-weight: 700;
                                    }
                                    font-weight: 400;
                                    margin-bottom: 10px;
                                }

                                &__body {
                                    &.unread {
                                        color: #707070;
                                        font-weight: 700;
                                        line-height: 13px;
                                    }
                                    color: #707070;
                                    font-size: 12px;
                                    line-height: 13px;
                                    margin-bottom: 10px;
                                }

                                &:hover {
                                    opacity: .8;
                                }
                            }
                        }
                    }
                }

                &__overlay {
                    position: absolute;
                    height: 100vh;
                    width: 100vw;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.03);
                    z-index: 200;

                }
            }

            @at-root {
                @media screen and (max-width: 500px) {
                    .crims_notifications {
                        &__content {
                            width: 300px;
                            right: -50px;

                            &:before {
                                right: 80px;
                            }
                        }
                    }
                }
            }

        }
    }
}


.avatar_toggled {
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(0, 0, 0, 0.11);
    position: absolute;
    z-index: 600;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    display: block;
}
